/* SkyCrypt Pixelated Rendering Rule */
.pixelated {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

@keyframes playSpriteSheet {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}